*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: azure;
    margin: 50px;
}
.container{
    top: 500px;
    width:80%;
    margin: 0 auto;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}
.container .box{
    width:50%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
}
.container .box .button {
    font-size: 20px;
    height: 50px;
    width: 100px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 3px 3px 3px grey;
    transition: all .7s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.container .box .button4::before {
    content: "";
    position: absolute;
    top: -84px;
    left: -88px;
    background-color:rgb(252, 34, 34);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    transition: all .7s;
    z-index: -1;
}

.container .box .button4:hover::before {
    transform: scale(4);
    background: linear-gradient(to right, rgb(252, 34, 34), rgba(246, 10, 10, 0.205));
    color:white;
}
.container .box .button4:hover{
    color:white;
}
.container .box .button3::before {
    content: "";
    position: absolute;
    top: -32px;
    left: -46px;
    background-color: #a9e8a9cc;
    height: 103px;
    width: 26px;
    transform: rotate(40deg);
    transition: all .7s;
    z-index: -1;
}
.container .box .button3{
    transition: all .7s;
}
.container .box .button3:hover::before{
    top: -32px;
    left: 134px;
    height: 103px;
    width: 26px;
    background-color: #a9e8a9cc;
}
.container .box .button2:hover{
    color: white;
}
